<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Metaviz</title>
        <meta name="description" content="Metaviz">
        <meta name="author" content="Dariusz Dawidowski">
        <meta name="robots" content="none">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="metaviz:agent:name" content="icp">
        <meta name="metaviz:agent:client" content="browser">
        <meta name="metaviz:agent:server" content="juno">
        <meta name="metaviz:agent:data" content="remote">
        <meta name="metaviz:agent:db" content="blockchain">
        <meta name="metaviz:agent:ext" content="">
        <meta name="metaviz:url:data" content="/data/">
        <meta name="metaviz:url:sync" content="">
        <meta name="metaviz:url:media" content="">
        <meta name="metaviz:url:cmd" content="">
        <meta name="metaviz:url:update" content="">
        <link rel="shortcut icon" type="image/svg" href="//cdn1.metaviz.net/metaviz-mark-mono-rgb.svg">

        <script type="text/javascript">
            let metaviz = null;
            /*{% for script in headscripts %}
                {% include script %}
            {% endfor %}*/
        </script>
    </head>
    <body>

        <!-- App -->
        <div id="app"></div>

        <!-- Main diagram window -->
        <!-- <div id="metaviz-diagram" class="metaviz-diagram"></div> -->

        <!-- Spinner svg logo -->
        <div id="metaviz-spinner" style="display: none;">
            <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" height="64" width="64">
                <g transform="translate(0,-247)">
                    <g transform="matrix(0.35277777,0,0,-0.35277777,-42.666529,253.98439)">
                        <g style="fill: var(--metaviz-logo-save);" transform="translate(240.41395,-34.864343)">
                            <path d="M 0,0 -16.2,16.202 -32.404,32.407 -32.405,32.405 -48.601,48.604 -64.806,32.405 -64.808,32.407 -81.005,16.202 -97.213,0 -113.41,-16.2 -97.213,-32.4 -81.005,-16.2 -64.808,0 -48.601,-16.204 -32.404,0 -16.2,-16.2 0.001,-32.405 16.205,-16.204 Z"/>
                        </g>
                        <g style="fill: var(--metaviz-logo-save);" transform="translate(208.00965,-67.269543)">
                            <path d="M 0,0 -16.197,-16.2 -32.403,0 -48.601,-16.2 -32.403,-32.404 -16.197,-48.604 0,-32.404 16.204,-16.2 Z"/>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        <script type="text/javascript">
            /*{% for script in scripts %}
                {% include script %}
            {% endfor %}*/
        </script>

        <!-- Total Lite Menu -->
        <link rel="stylesheet" href="https://unpkg.com/total-lite-menu@latest/dist/total-lite-menu.css">
        <script type="text/javascript" src="https://unpkg.com/total-lite-menu@latest/dist/total-lite-menu.js"></script>

        <!-- Material Design Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css" crossorigin="anonymous">

        <!-- ChartJS -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->

        <!-- START -->
        <script type="text/javascript">
            /*window.addEventListener('load', function() {
                metaviz = new MetavizWebApp();
                {{ inlinescript | safe}}
                if (metaviz.compatibilityTest()) {
                    metaviz.init('metaviz-diagram', 'metaviz-spinner');
                    metaviz.start();
                }
                else {
                    alert(_('Unsupported browser'));
                }
            });*/
        </script>
        <script type="module" src="/src/main.js"></script>
    </body>
</html>
