/* Metaviz Node File */

.metaviz-node-file .metaviz-control-link {
    position: absolute;
    width: 100%;
    height: 100%;
}

.metaviz-node-file .metaviz-control-input-filename {
    position: absolute;
    top: calc(100% + 28px);
    font-size: 10px;
    font-weight: normal;
}

.metaviz-node-file .metaviz-control-input-size {
    position: absolute;
    top: calc(100% + 44px);
    font-size: 10px;
    font-weight: normal;
}

.metaviz-node-file .metaviz-control-input-filename:focus,
.metaviz-node-file .metaviz-control-input-size:focus {
    outline: none;
}